<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SQLLogFileAppender" />
    </root>
    <logger name="SQLLog">
      <level value="ALL"/>
      <appender-ref ref="SQLLogFileAppender" />
    </logger> 
     
    <appender name="SQLLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--<param name="File" value="bin\\LOGS\\DBSQL\\LOG" />-->
      <param name="File" value="D:\\WMS_LOGS\\DBSQL\\LOG" />
      <!--<param name="File" value="D:/WMS LOG/log" />-->
      <!--添加文件-->
      <param name="AppendToFile" value="true" />
      <!--文件命名方式(Composite-混合)-->
      <param name="RollingStyle" value="Composite" />
      <!--文件名称-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      
      <param name="PreserveLogFileNameExtension" value="true"/>
      <!--Log文件个数（-1不限定）-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!--Log文件大小-->
      <param name="MaximumFileSize" value="5MB"/>
      
      <param name="StaticLogFileName" value="false" />
      <!-- An alternate output encoding can be specified -->
      <!-- <param name="Encoding" value="unicodeFFFE" /> -->
      <layout type="log4net.Layout.PatternLayout">
        
         <param name="ConversionPattern" value="%d [%t] %-5p %m%n" /> 
        <!--<param name="ConversionPattern" value="[%t] %-5p%m%n" />-->
      </layout>
      <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>
    
     
  </log4net>

</configuration>
